<table>
        <tr>
                <td>
                  	<div>
		     	 <a href=<%= sanguoshacards_path%>>
                                <h1>San Guo Sha Cards</h1>
                        </a>
			</div>
                </td>
                <td>
			<div>
                        <a href=<%= guozhancards_path%>
                                <h1>Guo Zhan Cards</h1>
                        </a>
			</div>
                </td>
        </tr>
</table>
