<table>
        <tr>
                <td>
                        <a href=<%= sanguoshacards_path%>>
                                <h1>San Guo Sha Cards</h1>
                        </a>
                </td>
                <td>
                        <a href=<%= guozhancards_path%>
                                <h1>Guo Zhan Cards</h1>
                        </a>
                </td>
        </tr>
</table>
