.banner_sanguosha {
	height: 75px;
	width: 350px;
	color: white;
	background-color: #bfd8e0;
	vertical-align: middle;
	text-decoration: none;
}
.banner_guozhan {
	height: 75px;
	width: 350px;
	color: white;
	background-color: #accfa8;
	vertical-align: middle;
	text-decoration: none;
}

.table_div {
	left: 0;
	right: 0;
	padding-bottom: 0px;
	background-color: #000000;
}

.banner_text {
	text-decoration: inherit;
}

.guozhan_body {
	background-color: #accfa8;
}

.sanguosha_body {
	background-color: #bfd8e0;
}

